   <div class="p-8">
       <div class="w-[calc(100vw-150px)]">
           <app-generic-table
           [selectedItems]="selectedRowItems"
           [toolBarStartActions]="toolbarItems"
           [tableConfig]="tableConfig"
           [tableData]="(users$ | async)"
           [isLoading]="isLoading$ | async"
           (onToolBarStartAction)="handleToolBarActions($event)"
           />
        </div>
    </div>

    <ng-template #createUpdateUser>
    <app-generic-form-generator
          [config]="createUserFormFields"
          [initialData]="editData"
          (formSubmit)="onUserFormSubmit($event)"
          (formCancel)="onFormCancel()"
          (formValueChanges)="onFormValueChange($event)"
        ></app-generic-form-generator>
    </ng-template>
