   <div class="p-8">
       <div class="w-[calc(100vw-150px)]">
           <app-generic-table
           [selectedItems]="selectedRowItems"
           [toolBarStartActions]="toolbarItems"
           [tableConfig]="tableConfig"
           [tableData]="(devices$ | async)"
           [isLoading]="isLoading$ | async"
           (onToolBarStartAction)="handleToolBarActions($event)"
           (onActionClick)="handleInTableActions($event)"
           />
        </div>
    </div>


    <ng-template #createUpdateDevice>
    <app-generic-form-generator [config]="formFields" [initialData]="formFields.isEditMode ? editData : null"
        (formSubmit)="onUserFormSubmit($event)" (formCancel)="onFormCancel()"
        (formValueChanges)="onFormValueChange($event)"></app-generic-form-generator>
</ng-template>
