<div class="container mx-auto max-w-6xl">

    <!-- First Row: Name/Sub-name and Menu -->
    <div class="flex justify-between items-center mb-6">
        <div class="flex flex-col">
            <h1 class="text-lg font-bold text-gray-800">Device Name</h1>
            <p class="text-sm text-gray-600">Sub Device Name</p>
        </div>
        <div class="relative">
            <!-- <p-button icon="pi pi-ellipsis-v" [outlined]="true" (click)="menu.toggle($event)" /> -->
            <!-- <p-tieredmenu appendTo="body" #menu [model]="items" [popup]="true" /> -->
        </div>
    </div>
</div>